.nav {
  margin-bottom: 20px;
}

.fa {
  margin-right: 6px;
}

a {
  transition-duration: 0.3s;
}

footer {
  margin-top: 100px;
  padding-bottom: 30px;
  color: #888;
}

footer a {
  color: #333;
}

.kill-button {
  text-align: center;
  margin-bottom: 20px;
}

.map-box, .chart-box {
  height: 300px;
}

th.header {
  cursor: pointer;
}

th.header:after {
  font: normal normal normal 13px/1 FontAwesome;
  color: #ccc;
  margin-left: 10px;
  content: "\f0dc";
}

th.headerSortUp:after {
  content: "\f0de";
}

th.headerSortDown:after {
  content: "\f0dd";
}
