{% extends "layout_full.html" %}
{% block body %}

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">Players</div>
        <table class="table" data-tablesorter>
          <thead>
          <tr>
            <th>Name</th>
            {% if show_secret_word() %}
            <th class="{sorter: false}">Secret</th>
            {% endif %}
            <th>Score</th>
            <th class="{sorter: false}">Next Target</th>
            <th class="{sorter: false}">Prev Target</th>
            <th>Prev Time</th>
            <th>Last Words</th>
          </tr>
          </thead>
          <tbody>
          {% for player in players %}
          <tr class="{{ row_class(player['Alive']) }}">
            <td>{{ player['Name'] }}</td>
            {% if show_secret_word() %}
            <td>{{ player['Secret'] }}</td>
            {% endif %}
            <td>{{ player['Score'] | default_blank }}</td>
            <td>{{ player['Target'] if player['Alive'] else None | default_blank }}</td>
            <td>{{ player['Prev Victim'] | default_blank }}</td>
            <td><small>{{ player['Prev Activity'] | default_blank }}</small></td>
            <td>{{ player['Last Will'] | default_blank }}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
</div>

{% endblock %}