<footer class="row">
  <div class="col-xs-6">
    <div class="game-mode"><span class="label label-default">{{ game_mode }}</span> Assassin Mode</div>
  </div>
  <div class="col-xs-6 text-right">
  <small><a href="https://github.com/darkmirage/assassin"><i class="fa fa-code"></i>darkmirage/assassin</a> by <a href="mailto:jcx@stanford.edu?subject=Assassin">Raven Jiang</a><br>
  with <a href="http://flask.pocoo.org/">Flask</a> and <a href="http://getbootstrap.com/">Bootstrap</a></small>
  </div>
</footer>