{% extends "layout_narrow.html" %}
{% block body %}
  <div class="row">
    <div class="col-sm-6">
      <p class="alert">You are logged in as <strong>{{ id }}</strong>.</p>
    </div>
    <div class="col-sm-6">
      {{ print_alive_alert(num_alive, victor_name) | safe}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">

    {% if player == None %}
      <p class="alert alert-warning">You are not in the game.</p>
    {% elif not player['Alive'] %}
      <p class="alert alert-danger">You are dead.</p>
    {% elif player['PlayerID'] == player['TargetID'] %}
      <p class="alert alert-info">You are the winner!</p>
    {% elif num_alive > 1 %}

      <div class="panel panel-info">
        <div class="panel-heading">Next Target</div>
        <table class="table">
          <tr><th>Name</th><td>{{ player['TargetName'] }}</td></tr>
          {% if show_secret_word() %}
          <tr><th>Secret</th><td>{{ player['TargetSecret'] }}</td></tr>
          {% endif %}
        </table>
      </div>

      <div class="kill-button">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deathModal">
          I have been killed
        </button>
      </div>

      <div class="map-container hidden" title="Your location will be recorded when you report being killed" data-toggle="tooltip" data-placement="bottom">
        <div class="panel panel-default">
          <div class="panel-heading">Your Location</div>
          <div class="panel-body map-box" data-map></div>
        </div>
      </div>

    {% endif %}
    </div>

    {% if kills != None %}
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">Your Kills</div>
        <table class="table table-striped">
          <tr><th>#</th><th>Name</th><th>Last Words</th></tr>
          {% for count, kill in enumerate(kills) %}
            <tr>
              <td>{{ len(kills) - count }}</td><td>{{ kill['Name'] }}</td>
              <td>{{ kill['LastWill'] | default_blank }}<br>
              <small class="text-muted">{{ kill['Time'] | datetime }}</small></td>

            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    {% endif %}
  </div>

<div class="modal fade" id="deathModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Confirm your death</h4>
      </div>

      <form action="{{ url_for('die') }}" method="post">
        <input type="hidden" name="latitude" value="">
        <input type="hidden" name="longitude" value="">

        <div class="modal-body">
          <p>Are you sure you are dead? If so, please enter your <abbr data-toggle="tooltip" data-placement="top" title="For example: how you died, your thoughts on the game, etc.">last words</abbr>. This will be emailed to your assassin and also be made visible to all players. Please do not reveal who killed you.</p>

          <textarea name="last_will" class="form-control" rows="3" placeholder="I was murdered in cold blood."></textarea>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <input type="submit" value="Confirm" class="btn btn-danger">
        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
