{% extends "layout_narrow.html" %}
{% block body %}

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">Recent Assassinations</div>
        {% if len(wills) == 0 %}
        <div class="panel-body">No one has been assassinated yet.</div>
        {% else %}
        <table class="table" data-tablesorter>
          <thead>
          <tr>
            <th>Name</th>
            <th class="{sorter: false}">Last Will</th>
          </tr>
          </thead>
          <tbody>
          {% for will in wills %}
          <tr data-location data-lat="{{ will['Latitude'] }}" data-long="{{ will['Longitude'] }}">
            <td>{{ will['Name'] }}</td>
            <td>
              <div  class="pull-right"><button data-map-toggle class="btn btn-sm btn-default"><i class="fa fa-map-marker"></i>Map</button></div>
              {{ will['LastWill'] | default_blank }}<br>
              <small class="text-muted">{{ will['Time'] | datetime }}</small>
              <div class="map-box"></div>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        {% endif %}
    </div>
  </div>
</div>

{% endblock %}